Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1648883617327/work
build==1.2.2.post1
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1746569525376/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1636046055389/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1746214863626/work
click==8.1.8
contourpy @ file:///croot/contourpy_1738160616259/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
deprecation==2.1.0
distro==1.9.0
fonttools @ file:///croot/fonttools_1737039080035/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hightime==0.2.2
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata==8.7.0
importlib_resources @ file:///croot/importlib_resources-suite_1720641103994/work
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
matplotlib==3.9.2
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
nidaqmx==1.1.0
numpy @ file:///croot/numpy_and_numpy_base_1725470312869/work/dist/numpy-2.0.1-cp39-cp39-linux_x86_64.whl#sha256=d86a49760b169e0c4fb8c00d248077a0474f640071b7ef584afd5ad4f03b9428
packaging==25.0
pathlib2 @ file:///home/conda/feedstock_root/build_artifacts/pathlib2_1725350185303/work
pillow @ file:///croot/pillow_1744613067434/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pyo @ file:///home/nath/Documents/Dev/pyo/dist/pyo-1.0.6-cp39-cp39-linux_x86_64.whl#sha256=957f30db6d6a47b0f6d313fd640eafbf9027eaea1d73fe83475a163e64313fbb
pyparsing @ file:///croot/pyparsing_1731445506121/work
pyproject_hooks==1.2.0
Pypubsub @ file:///home/conda/feedstock_root/build_artifacts/pypubsub_1730399716160/work
PyQt6==6.7.1
PyQt6_sip @ file:///croot/pyqt-split_1744804475988/work/pyqt_sip
PySide6==6.7.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-decouple==3.8
python-osc==1.8.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
scipy @ file:///croot/scipy_1733756309941/work/dist/scipy-1.13.1-cp39-cp39-linux_x86_64.whl#sha256=a4372e07d982a377bda57ec71fd74ac403442571e1d717de47325a14dea5c278
shiboken6==6.7.2
sip @ file:///croot/sip_1738856193618/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
tomli==2.2.1
tornado @ file:///croot/tornado_1733960490606/work
tzlocal==5.3.1
unicodedata2 @ file:///croot/unicodedata2_1736541023050/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1744323578849/work
wxPython==4.1.1
zipp==3.21.0
zstandard @ file:///croot/zstandard_1677013143055/work
